.container {
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 6.75rem;
  box-sizing: inherit;
}

.body {
  min-width: 96vw;
}

footer {
  text-align: center;
  position: absolute;
  min-width: 96vw;
  bottom: 0;
  padding: 25px;
}
