.container {
  display: flex;
  min-width: 96vw;
}

.row {
  display: flex;
  justify-content: center;
  min-width: 96vw;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-greydive);
  border-radius: 1rem;
  text-decoration: none;
  color: var(--color-text);
  padding: 0.1rem;
  cursor: pointer;
  background: var(--color-greydive);
}

.link:hover {
  color: var(--color-greydive);
  background: var(--color-text);
}

.image {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  .link {
    margin: 1rem;
    max-width: 40%;
  }
  .image {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .logo {
    max-width: 60%;
  }
}
