@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: var(--color-bg);
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

:root {
  --color-bg: black;
  --color-text: white;
  --color-greydive: #d4145a;
  font-size: medium;
}

.btn {
  background: var(--color-greydive);
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--color-text);
  }
}
